@{
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
 
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img id="board" src="~/Img/board.png"/>
        </div>
        <div class="col-md-8 p-3">
            <div class="card">
                <div class="card-header">
                    Giới thiệu
                </div>
                <div class="card-body row">
                    <div class="card col-md-4">
                        <a href="#">
                            <img src="~/Img/book1.jpg" class="card-img-top book-img" alt="...">
                            <div class="card-body">
                                <p class="card-text">Tên sách</p>
                            </div>
                        </a>
                    </div>
                    <div class="card col-md-4">
                        <a href="#">
                            <img src="~/Img/book2.jpg" class="card-img-top book-img" alt="...">
                            <div class="card-body">
                                <p class="card-text">Tên sách</p>
                            </div>
                        </a>
                    </div>
                    <div class="card col-md-4">
                        <a href="#">
                            <img src="~/Img/book3.jpg" class="card-img-top book-img" alt="...">
                            <div class="card-body">
                                <p class="card-text">Tên sách</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Mới nhất
                </div>
                <div class="card-body row">
                    <div class="card col-md-4">
                        <a href="#">
                            <img src="~/Img/book1.jpg" class="card-img-top book-img" alt="...">
                            <div class="card-body">
                                <p class="card-text">Tên sách</p>
                            </div>
                        </a>
                    </div>
                    <div class="card col-md-4">
                        <a href="#">
                            <img src="~/Img/book2.jpg" class="card-img-top book-img" alt="...">
                            <div class="card-body">
                                <p class="card-text">Tên sách</p>
                            </div>
                        </a>
                    </div>
                    <div class="card col-md-4">
                        <a href="#">
                            <img src="~/Img/book3.jpg" class="card-img-top book-img" alt="...">
                            <div class="card-body">
                                <p class="card-text">Tên sách</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        Thông tin thư viện
                    </div>
                    <div class="card-body row">
                        <div class="col-md-12">Số lượng sách: </div>
                        <div class="col-md-12">Số lượng tác giả: </div>
                        <div class="col-md-12">Số sách đang cho mượn: </div>
                        <div class="col-md-12">Số sách đã được in ấn lại:</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  
</body>
</html>