
@{
    ViewBag.Title = "DangKyTheThuVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="card">
            <div class="card-header text-white bg-dark">
                <h3>
                    Đăng ký thẻ thư viện
                </h3>
            </div>
            <div class="card-body row">
                <div class="col-md-12 p-3 text-center">
                    Bạn cần phải làm thẻ thư viện để được truy cập nhiều hơn các dịnh vụ cùa thư viện
                </div>
                <div class="col-md-12 p-3 d-flex justify-content-center">
                    <a class="btn btn-info" href="">Gửi yêu cầu làm thẻ thư viện</a>
                </div>
            </div>
        </div>
    </div>
</div>

